# Required: dataConnect Privy App ID
VITE_PRIVY_APP_ID=cmkbl8dpo023uif0dfrgamgst

# Optional: dataConnect Privy Client ID for environment-specific settings
VITE_PRIVY_CLIENT_ID=client-WY6V6wkKHxunaQk36Mq8ae45avSBEJdHni2okNtjCbgnw

# Session Relay URL (optional, defaults to https://session-relay-git-dev-opendatalabs.vercel.app)
VITE_SESSION_RELAY_URL=https://session-relay.vana.org

# Gateway URL (optional, defaults to https://data-gateway-env-dev-opendatalabs.vercel.app)
VITE_GATEWAY_URL=https://data-gateway.vana.org

# VITE_ACCOUNT_URL=https://account-dev.vana.org
VITE_ACCOUNT_URL=https://account.vana.org

# Optional: connector logo provider ("logoDev" | "brandDev")
VITE_PLATFORM_LOGO_PROVIDER=brandDev

VITE_CHAIN_ID=1480

VITE_TUNNEL_SERVER_ADDR=frpc.server.vana.org
VITE_TUNNEL_SERVER_PORT=7000
