# Dependencies
node_modules
package-lock.json

# Build outputs
dist
build
*.tsbuildinfo

# Tauri
src-tauri/target

# Logs
*.log

# OS
.DS_Store

# IDE
.vscode
.idea

# Playwright
playwright-runner/node_modules
